project:
  type: website
  render:
    - "*.md"
    - "*.qmd"

website:
  favicon: /assets/images/favicon.svg
  repo-url: "https://github.com/lsc-hubs/kenya-hub"
  repo-actions:
    - edit
    - issue
  page-footer:
    left:
    - text: LSC Hubs 2025
      file: https://www.lsc-hubs.org
  title: "Land Soil Crop Hub"
  search: false
  navbar:
    pinned: true
    logo: ./assets/images/logo.svg
    logo-alt: "Logo of Land Soil Crop Hub"
    right:
      - text: Data and Information
        file: "/#data-and-information"
      - text: Maps
        file: "/#maps"
      - text: User stories
        file: "/#user-stories"
      - text: Community
        file: "/#hub-community"
      - text: Docs
        file: "/#documents"
      - text: Language
        rel: lang
        file: "#"

format:
  html:
    page-layout: full
    theme:
      - ./assets/css/custom.scss
    include-in-header:
        - text: |
            <script>const langs = "{{< var langs >}}";const langlables = "{{< var langlabels >}}";</script>
            <script src="/assets/js/translateOption.js"></script>
    code-copy: true
    code-overflow: wrap
    filters:
      - ./filters/page-section/_extensions/page-section/page-section.lua
    shortcodes:
      - ./shortcodes/icon-link/_extensions/icon-link/icon-link.lua
